$main-content-gap: 24px;
$progress-bar-height: 10px;

$font-fam: 'Inter', sans-sefif;

$border-radius-small: 4px;
$border-radius-mid: 8px;

$border-thin: 1px;
$border-regular: 2px;

$gap-small-tiny: 4px;
$gap-small-regular: 8px;
$gap-small-medium: 12px;
$gap-small-large: 16px;

$gap-mid-tiny: 18px;
$gap-mid-regular: 20px;
$gap-mid-medium: 24px;
$gap-mid-large: 28px;

$gap-big-regular: 32px;
$gap-big-medium: 36px;
$gap-big-large: 40px;

$font-name: normal normal 700 48px/56px $font-fam;

$font-small-light: normal normal 300 12px/20px $font-fam;

$font-extra-tiny-regular: normal normal 400 8px/16px $font-fam;
$font-tiny-regular: normal normal 400 10px/18px $font-fam;
$font-small-regular: normal normal 400 12px/20px $font-fam;
$font-mid-regular: normal normal 400 14px/22px $font-fam;
$font-mid-to-big-regular: normal normal 400 16px/24px $font-fam;

$font-small-medium: normal normal 500 12px/20px $font-fam;
$font-mid-medium: normal normal 500 14px/22px $font-fam;
$font-mid-to-big-medium: normal normal 500 16px/24px $font-fam;

$font-big-regular: normal normal 400 18px/26px $font-fam;

$transition-time: 0.4s;

$size-icon-extra-small: 12px;
$size-icon-small: 16px;
$size-icon-mid: 18px;
$size-icon-big: 20px;
$size-icon-large: 24px;
$size-icon-extra-large: 32px;

$basic-z-index: 0;
$icon-z-index: 10;
$select-z-index: 20;